{% extends "myadmin/base.html" %}

{% block mainbody %}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID号</th>
								<th>账号</th>
								<th>姓名</th>
								<th>性别</th>
								<th>邮箱</th>
								<th>注册时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
                            {% for i in plist %}
							    <tr>
								<td>{{ i.id }}</td>
								<td>{{ i.username }}</td>
								<td>{{ i.name }}</td>
								<td>
                                    {% if i.sex == 1 %}男{% else %}女{% endif %}
                                </td>
								<td>{{ i.email }}</td>
								<td>{{ i.addtime }}</td>
								<td>
                                    {% if i.state == 1 %}启用{% elif i.state == 2 %}禁用{% else %}管理员{% endif %}
                                </td>
								<td>{{ i.email }}</td>
								<td>
									<a href="{% url 'myadmin_users_restpwd' i.id %}" class="view-link">修改密码</a>
                                    <a href="{% url 'myadmin_users_edit' i.id %}" class="view-link">编辑</a>
									<a href="{% url 'myadmin_users_del' i.id %}" class="view-link">删除</a>

								</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
					<div >
						<ul>

							{% for i in pnums %}
                                {% if i == pIndex %}
									<li class="disabled">
										{{ i }}&nbsp&nbsp&nbsp
									</li>

                                {% else %}
									<li class="active">
											<a href="{% url 'myadmin_users_index' i %}">{{ i }}&nbsp&nbsp&nbsp</a>
									</li>
                                {% endif %}
                            {% endfor %}

						</ul>

					</div>

{% endblock mainbody %}