<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线相册信息管理</title>
    <STYLE>
        table{margin-left: 20px;}
               div {
            width: 600px;
            text-align: center;
            margin-left: 35%
        }
        h1 {
            color: #0d8ddb;
            margin: 9px;
        }
                #content {
            text-align: left;
            width: 660px
        }
        td{

            border: #0e9aef 1px solid;
        }
        th{

            border: #0e9aef 1px solid;
        }
    </STYLE>
</head>
<body>
<div><h1>在线相册信息管理</h1></div>
<div id="content">
    <table  id="tb1" style="border: green 1px solid;padding: 3px">
        <tr>
            <th width="50px">编号</th>
            <th width="70px">姓名</th>
            <th width="50px">年龄</th>
            <th width="100px">电话</th>
            <th width="200px">课程</th>
            <th width="250px">图库</th>
            <th width="150px">操作</th>
        </tr>
        {% for i in info %}
        <tr>
            <td width="50px">{{ i.id }}</td>
            <td width="70px">{{ i.name }}</td>
            <td width="50px">{{ i.age }}</td>
            <td width="100px">{{ i.phone }}</td>
            <td width="200px">{{ i.classname }}</td>
            <td width="250px">{{ i.picpath }}</td>
            <td width="150px"><a href='{% url  "stuedit" i.id  %}'>编辑</a>  &nbsp; &nbsp;
{#                <a href="{% url  'studel' i.id  %}">删除</a>#}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
</body>
</html>