<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员信息编辑</title>
    <STYLE>
        table{margin-left: 20px;}
               div {
            width: 600px;
            text-align: center;
            margin-left: 35%
        }
        h1 {
            color: #0d8ddb;
            margin: 9px;
        }
        #content {
            text-align: left;
            width: 660px
        }
        td{

            border: #0e9aef 1px solid;
        }
        th{

            border: #0e9aef 1px solid;
        }
    </STYLE>
</head>

<body>
    <div><h1>在线相册信息管理</h1></div>
    <h1>{{ id }}</h1>
</body>
</html>