<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>在线相册信息管理</title>
    <style>
        div {
            width: 600px;
            text-align: center;
            margin-left: 35%
        }

        #content {
            text-align: left;
            width: 660px
        }

        h1 {
            color: #0d8ddb;
            margin: 9px;
        }
    </style>
</head>
<body>
        <div id="header"><h1>在线相册信息管理</h1></div>
         <div id="content">{ % block content % } { % endblock % }</div>
</body>
</html>