{% extends "myadmin/base.html" %}

{% block mainbody %}
<h3>
    商品信息浏览
</h3>

     <form class="form-inline" action="{% url 'myadmin_goods_index' 1 %}" method="get">

    <label>关键字：</label>
    <input type="text" name="keyword" value="{{request.GET.keyword}}" class="input-small" placeholder="商品名称">
    <label> &nbsp; 类别：</label>
    <select name="typeid" class="span2">
        <option value="0">全部</option>
        {% for vo in typelist %}
        <option value="{{ vo.id }}" {% if typeid == vo.id %}selected{% endif %}>{{vo.pname}}|--{{ vo.name }}</option>
        {% endfor %}
    </select>
    <label> &nbsp; 状态：</label>
    <select name="state" class="span1">
        <option value="">全部</option>
        <option value="1" {% if request.GET.state == '1' %}selected{% endif %}>新商品</option>
        <option value="2" {% if request.GET.state == '2' %}selected{% endif %}>在售</option>
        <option value="3" {% if request.GET.state == '3' %}selected{% endif %}>已下架</option>
    </select>
    <button type="submit" class="btn">搜索</button>
    <a href="{% url 'myadmin_goods_index' 1 %}" class="btn">全部</a>
</form>
     <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID号</th>
            <th>商品名称</th>
            <th>商品类别</th>
            <th>图片</th>
            <th>价格</th>
            <th>点击量</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in goodslist %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.goods }}</td>
                <td>{{ i.typename }}</td>
                <td><img src="/static/goods/s_{{ i.picname }}" width="40px"></td>
                <td>{{ i.price }}</td>
                <td>{{ i.clicknum }}</td>
                <td>{{ i.state }}</td>
                <td>{% if i.state == 1 %}新添加{% elif i.state == 2 %}在售{% else %}下架{% endif %}</td>
                <td>
                    <a href="{% url 'myadmin_goods_edit' i.id %}"  class="btn btn-mini btn-warning">编辑</a>
                    <a href="{% url 'myadmin_goods_del' i.id %}"  class="btn btn-mini btn-danger">删除</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="pagination">
    <ul>
        <li>
            <a href="{% url 'myadmin_goods_index' pIndex|add:-1 %}?{{ mywhere|join:'&' }}">&laquo;</a>
        </li>
        {% for p in plist %}
        <li {% if pIndex == p %}class="active"{% endif %}>
            <a href="{% url 'myadmin_goods_index' p %}?{{ mywhere|join:'&' }}">{{p}}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'myadmin_goods_index' pIndex|add:1 %}?{{ mywhere|join:'&' }}">&raquo;</a>
        </li>

    </ul>
</div>


{% endblock mainbody %}